{
  "presets": [
    ["env", {
      "targets": {
        "node": "10.9"
      }
    }]
  ],
  "plugins": [
    [
      "transform-runtime", {
        "polyfill": false,
        "regenerator": true,
        "moduleName": "babel-runtime"
      }
    ]
  ]
}
