language: node_js
node_js:
- 10
cache:
  directories:
  - "$HOME/.npm"
script:
- yarn build
deploy:
  provider: firebase
  project: territory-data-service
  only: functions
  edge: true
  token:
    secure: PI8oQne6BwtEGdrwfXJOZpmQ7ejeTx42IRlCgVLeXLIzeusKWOgq6/53TlYRwwM/kev616libo1jA3CN2Uidkbexs+ym7Kz+CMM3amSoCd1C325Lt7NKgQrzV0CLIRE7xXmhkWycWvtZjO/XZh/ahTJDA3TYPzl/LodDk22S/O3JOkrPFh5nYNT8dqKrXPFHCC8s2V2KgPgdwKZ5SFK+FwelZ4r2+ThyE2x4DpVEyqsFarzqhCkZ9+hJf6gxtOKpplEFRAcDavNetxDAZ+vul+PgOpNnRSHeMEK0heCEYjZ8JRT6TaKNie7blJGW3EoLAuIfKMaDwjvaKjVSPQ/WMfJF+2Gc3mPhomP6codMePVc2tt7dIzJSIneU2VeV4IUxiGXwPfLJDIVFVJT0mv0r1DIu6yYHv9SS2lIl/SoRNRT669DOl8ZtcE/8/y5H2qw4B4bHiHvL0nCxrU38aqVsFA2/kZcNtmDbl0zYSO8ryuW7GItc0cTcb5DQvQKu9HuFhXv1BlBNftNChZogUkcM9t/rYWVluntgJw7I2GVZ1l4aYdGLUgzk0P+xmgKtCIV+wFKjyC8qZyYf3WybTN0fCoOb6XUbpr1sCBdiA51pEKs8qnHBXrB68/rpXnbvEm3CL0MTqP+PqfPVUH3WKUGBAT/AwxZTO7qEEhnZCQoPM0=
  on:
    branch: new-master
